<!DOCTYPE html>
<html lang="hu">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="{% load static %}{% static 'vite.svg' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Treasure Hunter - Halloween Kincskereső</title>
    {% load static %}
    <script type="module" crossorigin src="{% static 'assets/index-CKV4xwFV.js' %}"></script>
    <link rel="stylesheet" crossorigin href="{% static 'assets/index-Deg3wQQV.css' %}">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
